<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/maket/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/maket/css/main.css">
{% block style %}

{% endblock %}
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到 天天生鲜</div>
			<div class="fr">
				<div class="login_btn fl">
                    {% if  request.COOKIES.email %}
                        欢迎您:&nbsp;亲爱的<span>|</span> {{ request.COOKIES.email }} <span>|</span> <a href="/maket/loginout" style="color: red">退 出</a>
                    {% else %}
                        <a href="/maket/login/" style="color: red">登录</a>
					    <span>|</span>
					    <a href="/maket/register/" style="color: red">注册</a>
                    {% endif %}
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/maket/user_center_info">用户中心</a>
					<span>|</span>
					<a href="/maket/cart/">我的购物车</a>
					<span>|</span>
					<a href="/maket/user_center_order/">我的订单</a>
                    <span>|</span>
					<a href="/maket/index/">回到首页</a>
				</div>
			</div>
		</div>		
	</div>

{% block contenttwo %}
{% endblock %}

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 成都天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：028-****888    蜀ICP备*******8号</p>
	</div>
{% block script %}
{% endblock %}
</body>
</html>